.App {
  text-align: center;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
}

.outerbox{
  height: 50vh;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex-direction: column;
  border-radius: 10px;
}

input{
  height: 5vh;
  margin-top: -10vh;
  width: 27vw;
  font-size: 1.5rem;
  border-radius: 13px;
  border: 2px solid coral;
}

.temperature{
  border: 1px solid black;
  margin-top: 8vh;
  height: 18vh;
  width: 30vw;
  border-radius: 10px;
}